@model IEnumerable<Carrinho.Models.Purchase>

@{
    ViewData["Title"] = "Lista de Pedidos";
}

<h1>@ViewData["Title"]</h1>
<br />

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="fas fa-shopping-cart"></span> Adicionar Pedido</a>
</p>
<table class="table table-hover">
    <thead class="table thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseName)
            </th>
            <th class="text-right">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PurchaseName)
            </td>
            <td class="text-right">              
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><span class="fas fa-info-circle"></span></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fas fa-trash-alt"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>
