@model IEnumerable<Carrinho.Models.PedidoItem>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="fundo-tabela">

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoId)
                    </td>
                    <td class="text-right">
                        <a class="btn btn-danger" asp-controller="Pedidos" asp-action="DeletarItemCarrinho" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
